@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model MyBlog.ViewModels.UpdateBlogModel

@{
    ViewBag.Title = "Update";
}

<form asp-controller="Blog" asp-action="Update" method="post" style="width: 80%">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label class="control-label" asp-for="Title">Title</label>
        <input type="text" asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label" asp-for="Author">Author</label>
        <input type="text" asp-for="Author" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label" asp-for="TravelDate">Travel Date</label>
        <input type="date" asp-for="TravelDate" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label" asp-for="Text">Text</label>
        <textarea typeof="text" asp-for="Text" class="form-control" cols="20" rows="10"></textarea>
    </div>
    <div class="form-group">
        <label class="control-label" asp-for="ShortDescription">Short Description</label>
        <textarea typeof="text" asp-for="ShortDescription" class="form-control" cols="20" rows="5"></textarea>
    </div>
    <div class="form-group">
        <label class="control-label" asp-for="ImageURL">Image URL</label>
        <input type="text" asp-for="ImageURL" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
